---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import About from '../components/About.astro';
import Testimonials from '../components/Testimonials.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Limp Eco - Servicios de Limpieza Profesional">
  <Navigation />

  <div class="reveal opacity-0 translate-y-10 transition-all duration-700">
    <Hero />
  </div>

  <div class="reveal opacity-0 translate-y-10 transition-all duration-700">
    <Services />
  </div>

  <div class="reveal opacity-0 translate-y-10 transition-all duration-700">
    <About />
  </div>

    <div class="reveal opacity-0 translate-y-10 transition-all duration-700">
    <Testimonials />
  </div>

  <div class="reveal opacity-0 translate-y-10 transition-all duration-700">
    <Contact />
  </div>

  <Footer />
</Layout>




